<div>

  <nz-select nzMode="tags" nzPlaceHolder="Tag Mode" nzAllowClear
             [(ngModel)]="listOfSelectedValue">
    <nz-option *ngFor="let head of headers" [nzLabel]="head" [nzValue]="head"></nz-option>
  </nz-select>

  <button nz-button nzType="primary">Go</button>

</div>

<div>
  <nz-table nzTemplateMode [nzScroll]="{ y: '600px' }">
    <thead>
    <tr>
      <th *ngFor="let head of headers">{{ head }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let item of row">{{item}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
