<div>

  <!--
  <nz-select nzMode="tags" nzPlaceHolder="Tag Mode" nzAllowClear
             [(ngModel)]="selectedHeaders">
    <nz-option *ngFor="let head of headers" [nzLabel]="head" [nzValue]="head"></nz-option>
  </nz-select>
  -->
  <nz-form-label [nzSpan]="7">号码</nz-form-label>
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择相应的表头" [(ngModel)]="selectedNumbers">
    <nz-option *ngFor="let head of headers" [nzLabel]="head" [nzValue]="head"></nz-option>
  </nz-select>

  <nz-form-label [nzSpan]="7">时间</nz-form-label>
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择相应的表头" [(ngModel)]="selectedDateTime">
    <nz-option *ngFor="let head of headers" [nzLabel]="head" [nzValue]="head"></nz-option>
  </nz-select>

  <nz-form-label [nzSpan]="7">GEOHASH</nz-form-label>
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择相应的表头" [(ngModel)]="selectedGEOHASH">
    <nz-option *ngFor="let head of headers" [nzLabel]="head" [nzValue]="head"></nz-option>
  </nz-select>



  <nz-form-label [nzSpan]="7">基站名称</nz-form-label>
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择相应的表头" [(ngModel)]="selectedBashName">
    <nz-option *ngFor="let head of headers" [nzLabel]="head" [nzValue]="head"></nz-option>
  </nz-select>

  <button nz-button nzType="primary"
          (click)="handleDate()" [nzLoading]="isCalculate">
    {{ isCalculate ? '处理中' : 'Go' }}
  </button>

</div>

<div>
  <nz-table nzTemplateMode [nzScroll]="{ y: '600px' }">
    <thead>
    <tr>
      <th *ngFor="let head of headers">{{ head }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let item of row">{{item}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
